.toast-container#toast-container{"data-controller" => "toast", "data-toast-auto-hide-delay-value" => "5000", "data-toast-auto-hide-value" => "true", "data-toast-target" => "container", tabindex: "-1"}
  = render("layouts/toast", type: "success", title: "Success", message: notice) if notice
  = render("layouts/toast", type: "error", title: "Alert", message: alert) if alert
